__pycache__/
*.py[cod]
*.pyo
*.so
*.env
.env
logs/
checkpoints/
.DS_Store
reports/*.pdf
reports/*.docx
.notebooks_cache/
.pytest_cache/
.ipynb_checkpoints/
venv/
.venv/
.envrc
.cache/

frontend/node_modules/
frontend/dist/
