fastapi
uvicorn[standard]
torch
torchvision
torchaudio
transformers
sentence-transformers
langchain-text-splitters
langchain-community
langchain-core
faiss-cpu
librosa
opencv-python
pydantic
pydantic-settings
python-dotenv
SpeechRecognition
scikit-learn
numpy
pandas
matplotlib
seaborn
datasets
tensorboard
loguru
python-multipart
requests
soundfile
jinja2
pytest
pytest-asyncio
httpx
